* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.footer {
	width: 100%;
	padding: 30px 40px;
	background: #f6f6f6;
}
.footer .container {
	display: flex;
	max-width: 100%;
}
.footer .container .left_box {
	width: 30%;
	padding: 20px 20px;
	border-right: 2px solid #b8b7b7;
}
.footer .container .left_box .box {
	display: flex;
	padding: 10px 20px;
	margin-top: 15px;
}
.footer .container .left_box .box .icon_box {
	font-size: 26px;
	color: #cd1e76;
}
.footer .container .left_box .box .detail {
	margin-left: 10px;
}
.footer .container .left_box .box .detail h3 {
	text-transform: uppercase;
	font-size: 16px;
	color: #cd1e76;
	font-weight: 600;
	letter-spacing: 1px;
}
.footer .container .left_box .box .detail p {
	font-size: 14px;
	color: #232323;
}
.footer .container .right_box {
	width: 60%;
	padding: 10px 20px;
}
.footer .container .right_box .header {
	max-width: 100%;
	align-items: center;
}
.footer .container .right_box .header img {
	margin-left: 40%;
	cursor: pointer;
	object-fit: cover;
	height: 80px;
	width: 80px;
}
.footer .container .right_box .header p {
	font-size: 14px;
	color: #8a8a8a;
	font-weight: 600;
	text-align: center;
	margin-top: 15px;
}
.footer .container .right_box .bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	padding: 20px 20px;
	width: 100%;
}
.footer .container .right_box .bottom .box {
	padding: 10px 20px;
}
.footer .container .right_box .bottom .box h3 {
	font-size: 14px;
	color: #232323;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.footer .container .right_box .bottom .box ul {
	margin-top: 10px;
}
.footer .container .right_box .bottom .box ul li {
	list-style: none;
	margin-top: 5px;
	color: #8a8a8a;
	transition: capitalize;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.5s;
}
.footer .container .right_box .bottom .box ul li:hover {
	color: #cd1e76;
}
